:root {
  --tg-theme-bg-color: white;
  --tg-theme-text-color: black;
  --tg-theme-secondary-bg-color: pink;
  --tg-theme-section-separator-color: grey;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
