:root {
  --tg-theme-bg-color: #111810;
  --tg-theme-text-color: #F5F5F5;
  --tg-theme-secondary-bg-color: #192218;
  --tg-theme-button-color: #476F42;
  --tg-theme-button-text-color: #FFFFFF;
  --tg-theme-accent-text-color: #94E088;
  --tg-theme-subtitle-text-color: #424F40;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
